{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "storybook"],
  "ignorePatterns": ["node_modules", "*.config.ts", "*.config.js"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf",
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/__tests__/**"]
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  }
}
